@media (max-width:992px) {
    body,
    html {
        padding-right:0;
        overflow-x:hidden;
    }
    
    #Header {
        padding-top: 25px;
    }
    #Header .logo img {height: 51px;}
    .HeaderDiv {margin-left: -20px;}

    #HomePage .col-sm-6 {width:100%;}

    .AuthorizationPopup,
    .ApplicationModal,
    .QuestionModal {width:96%;}

    .modal {position:absolute;}

    .HeaderMenu li {
        display:inline-block;
        width:100%;

    }
    .HeaderMenu li a {
        margin-right:0;
        text-align:center;
        font-size:32px; 
        display:inline-block;
        width:100%;
        margin-bottom:10px;
    }
    .HeaderMenu li a:hover {
        background:#feca30;
        color:#fff;
    }
    .HeaderMenu li a {
        border-bottom:solid #fff 2px;
        text-decoration:none;
    }
    

    #ControlRoom .RoomSidebar {width:100%; margin-bottom:20px;}
    #ControlRoom .container-fluid {padding:0;}
    .ControlRoomContent {padding:10px; margin-bottom:20px;}
    #ControlRoom {padding-top:130px;}
    #ContactPage .ContactMapDiv .title {top:7px;}
    #HomePage {margin-top:100px;}

    .AuthorizationButton, a.AuthorizationButton {
        margin-right:0;
        text-align:center;
        font-size:32px; 
        display:inline-block;
        width:100%;
        margin-bottom:10px;
        font-family:arc_bold;
        color:#6c7375;
        background:none;
        border:none;
        margin-top:60px;
        padding-left:0;
        margin-left:10px;
    }

    .HeaderTel {display:none;}

    .CloseMenu {
        width: 30px;
        height: 30px;
        background: url('../../img/x.png') no-repeat;
        background-size: 100% 100%;
        position: absolute;
        z-index: 999;
        top: 15px;
        right: 15px;
    }

    .CapexTable tr td span {display:none;}
    .CapexTable tr td label {font-family:Conv_bpg_gel; font-size:13px;}

    .CapexTable tr td {font-size:13px;}
    .CapexTable tr th {font-size:12px;}

    .CapexTable tr td:nth-child(4) {width:65px;}

    .container_range .circle {
        width:3px;
        height:8px;
    }
    .result {
        width: calc(100% + 14px);
        margin-left: -8px;
    }


    #ScrollingPage .ScrollingHeaderDiv {
        background-size: auto 100%;
        background-position:bottom;
    }

	#ContactPage .ContactHeaderDiv {
		background-size: auto 100%; 
		background-position: center;
	}
    .workingHour{
        display: none !important;
    }

}




@media (min-width:992px) { 
	#Page2Div { 
		background-size:auto 100%; 
	}
	#HomeSection {background-size:100% 100%;}

	#HomeDivs .ProjectInfoNumbers {margin-top:20px;}

    .HeaderDiv {
        padding-right:185px;
    }
    .AuthorizationButton, a.AuthorizationButton {
            position: absolute;
            top: 28px;
            right: 15px;
    }

    #Header {
    line-height:100px;

    }
	.money label {
		width:100px;
		text-align:right;
	} 
	.month label {
		width: 42px;
		position: relative;
		display: inline-block;
		left: 5px;
		text-align:right;
	}
	.procent div {
		display:inline-block;
		width: 150px;	
		text-align:left;
	}
       
}









 